DB_NAME=TikiTicketDB
DB_USER=postgres
DB_PASSWORD=change-me
DB_HOST=localhost
DB_PORT=5433

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0

DJANGO_SECRET_KEY=change-me
DEBUG=False

JWT_SECRET_KEY=change-me
JWT_ACCESS_TOKEN_MINUTES=60

OTP_LENGTH=6
OTP_TTL_SECONDS=120
OTP_RESEND_COOLDOWN_SECONDS=60
OTP_MAX_ATTEMPTS=5